{{ define "try.tmpl" }}
<!DOCTYPE html>
<html>
<head>
	<title>Nothing here</title>
</head>
<body>
	<div name="id">{{.now}}</div>
	<data name="next-id" hidden>{{.nextid}}</data>
	{{.flag}}
</body>
</html>
{{ end }}

